<% include partials/header %>
<div class= "container">
<div class= "jumbotron">
    <div class="center">
<h1>Landing Page</h1>

<p>Welcome to Psyscene</p>

<a href="/raves">View All Raves</a>
</div>
</div>
</div>
<% include partials/footer %>